/* ================================ DETAIL PRODUCT PAGE ================================ */
body {
    margin: 0;
    padding: 0;
    min-height: 85vh;
    background-color: #212631;
    color: #fff;
    overflow-x: hidden;
}

.detail-container {
    margin: 20px;
}

.row {
    width: 100%;  
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.catalog-image{
    display: flex;
    position: relative;
    margin: 10px;
    /* background: aqua; */
    justify-content: center;
    align-content: center;
    flex: 1;
    max-width: 330px;
    max-height: 350px;
}

.catalog-description{
    display: flex;
    position: relative;
    margin: 10px;
    /* background: aqua; */
    /* justify-content: center; */
    align-content: center;
    flex: 2;
    max-width: 608px;
}

.catalog-choice{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px;
    /* background: aqua; */
    justify-content: center;
    align-content: center;
    flex: 3;
    max-width: 230px;
}

.footer {
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
    margin: 10px;
    max-width: 1200px;
}

.description h3{
    font-weight: 100;
}

.description h6{
    font-weight: 100;
}

.btn{
    margin-bottom: 30px;
}