.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 1;
    padding-top: 50px;
    max-width: 1200px;
    height: 100px; /* Adjust this value to set the desired height */
}

.custom-search-bar { /* Same as the background color */
    color: white; /* Optional: match border color with the background */
    height: 50px; /* Adjust the height to fill the search bar container */
    margin-right: 2px;
}

.custom-search-bar::placeholder {
    color: #afafaf;
}

.custom-search-bar:focus {
    color: black;
    border-color: #EE1B2F;
    box-shadow: none;
}

.custom-search-button {
    background-color: white;
    color: darkslategray;
    border-color: #d8d7d7;/* Optional: match border color with the background */
    height: 50px;
}

.custom-search-button:hover {
    background-color: #EE1B2F; /* Same as search bar background */
    color: white; /* Same as search bar text color */
    border: 1px solid #EE1B2F;
}

.custom-search-button:focus {
    background-color: #EE1B2F; /* Same as search bar background */
    color: white; /* Same as search bar text color */
    box-shadow: none;
}
